@media (max-width: 600px) {
  p-table {
    font-size: 12px;
   border: solid 1px;
  }
  input[type=text] {
    width: 100%;
    margin-bottom: 10px;
  }
  p-dropdown {
    width: 10%;
    margin-bottom: 10px;
    margin-left: 100px;
    float: right;
  }
}
/* results-status.component.css */
.results-status {
  font-size: 14px;
  margin: 10px 0;
}