.container {
  display: flex;
  flex-direction: column;
}

.search-box {
  width: 300px; /* Increase the width of the search box */
  margin-bottom: 10px;
  height: 35px;
   
}

.page-size-selector {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the rightmost side */
  margin-bottom: 10px;
}

.italic-label {
  font-style: italic;
  margin-right: 10px;
}

.results-status {
  margin-top: 10px;
  }
